body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 128px;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 8px
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
}

.quote {
    display: flex;
    justify-content: center;
}

.container3 {
    display: flex;
    justify-content: center;
}

.img_n_subtext {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}